* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* background-color: rgba(29, 161, 242, 0.75); */
  background-color: #E1E8ED;
  width: 400px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  border: 1px solid black;
}

.title {
  font-weight: 700;
  padding: 1rem 0;
  font-size: 1.75rem;
}

.mentor-list {
  overflow: auto;
  height: 275px;
}

.search-mentor{
  display: flex;
}

.input-section {
  margin: 1rem 0 0.5rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mentor-error-name{
  padding: 0.75rem 3rem;
  background-color: rgba(255, 0, 0, 0.45);
  border: 2px solid red;
  color: white;
  font-size: large;
  cursor: pointer;
}

.twitter-handle-append{
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  background-color: black;
  padding: 0.2rem 0.8rem 0.2rem 0.3rem;
  border-radius: 0.35rem;
  margin-right: -0.7rem;
}

.mentor-input {
  font-size: 1rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 0.35rem;
  border: 0.175rem solid black;
  outline: none;
}

.mentor-input:focus{
  box-shadow: 0 0 0 0.15rem rgb(0 0 0 / 20%);
  transition: all 100ms ease-out;
}

.add-mentor-btn {
  cursor: pointer;
  padding: 0.3rem 0.3rem;
  transition: 0.15s ease-in-out;
  background-color: transparent;
  border: 0.175rem solid black;
  border-radius: 0.35rem;
  font-weight: 700;
  letter-spacing: 0.01em;
  font-family: "Montserrat", sans-serif;
}

.add-mentor-btn:hover {
  color: white;
  background-color: black;
}

.add-mentor-btn:disabled{
  border: 0.175rem solid #657786;
}

.add-mentor-btn:disabled:hover{
  background-color: #657786;
}

.empty-mentors{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-mentors > img{
  width: 50%;
  height: 50%;
  opacity: 80%;
  margin-bottom: 1rem;
}

.mentor-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
}

.mentor-main {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  background-color: #AAB8C2;
}

.mentor-pfp {
  border-radius: 100%;
}

.mentor-name {
  font-weight: 700;
  font-size: large;
}

.profile-btn,
.delete-mentor-btn {
  cursor: pointer;
  font-size: 1.5rem;
}

.profile-btn {
  color: rgba(29, 161, 242, 0.75);
  margin-top: 5px;
  font-size: 1.75rem;
}

.profile-btn:hover {
  transition: 0.2s ease-in-out;
  color: rgba(21, 117, 177, 0.75);
}

.delete-mentor-btn {
  color: red;
}

.delete-mentor-btn:hover {
  color: rgb(190, 2, 2);
  transition: 0.2s ease-in-out;
}

.recent-tweet-click{
  background-color: #657786;
  padding: 0.2rem 0;
}

.mentor-recent-tweet {
  font-size: 0.8rem;
  cursor: pointer;
  margin-top: 0.7rem;
}

.mentor-recent-tweet > a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
}

.mentor-recent-tweet-text{
  padding: 0.5rem 0.7rem 0.5rem 0;
  background: linear-gradient(90deg,#657786, #AAB8C2);
  background-size: 600% 100%;
  animation: gradient 3s linear infinite;
  animation-direction: alternate;
  font-weight: 500;
}

@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}

.mentors-loader{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lds-dual-ring-main {
  display: inline-block;
  width: 2rem;
  height: auto;
  margin: 0 0 0 -0.5rem;
}
.lds-dual-ring-main:after {
  content: " ";
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.4rem solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring-main 1.2s linear infinite;
}
@keyframes lds-dual-ring-main {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-dual-ring-tweet {
  display: inline-block;
  width: 1rem;
  height: auto;
  margin: 0.5rem;
}
.lds-dual-ring-tweet:after {
  content: " ";
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.2rem solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring-tweet 1.2s linear infinite;
}
@keyframes lds-dual-ring-tweet {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

